{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Your Password{% endblock %}

{% block content %}

<form class="auth-form" method="post" action=".">
    <h1 class="lead text-center">Change Your Password</h1>
    <hr>

    {% crispy form %}

    <p class="text-muted small">System will log you out after changing the password.</p>

    <button class="btn btn-primary btn-block" type="submit"><i class="material-icons">&#xE5CA;</i> Save</button>

    <ul class="list-unstyled mt-2">
        <li><a href="/">Go to Home</a></li>
    </ul>
</form>
{% endblock %}