{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<form method="post" action="{% url 'registration:forgot_password' %}" class="auth-form">{% csrf_token %}
    <h1 class="lead text-center">Reset Password</h1>
    <hr>

    {% crispy form %}

    <p class="text-muted small">If email is valid, please check your mail box in a few minutes. We’ll send you a link to reset your password.</p>

    <button class="btn btn-primary btn-block" type="submit"><i class="material-icons">&#xE5CA;</i> Submit</button>

    <ul class="list-unstyled mt-2">
        <li><a href="{% url 'registration:register' %}">Create New Account</a></li>
        <li><a href="/">Go to Home</a></li>
    </ul>
</form>
{% endblock %}