{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create New Password{% endblock %}

{% block content %}
<form method="post" action="." class="auth-form">{% csrf_token %}
    <h1 class="lead text-center">Create New Password</h1>
    <hr>

    {% crispy form %}

    <button class="btn btn-primary btn-block" type="submit"><i class="material-icons">&#xE5CA;</i> Save</button>

    <ul class="list-unstyled mt-2">
        <li><a href="{% url 'registration:login' %}">Login to Your Account</a></li>
        <li><a href="/">Go to Home</a></li>
    </ul>
</form>
{% endblock %}