{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}Contact the Team - Vietdev{% endblock %}

{% block main_nav %}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="page-header">Contact the Team</h1>
    <form class="weui_cells weui_cells_form add-novel" id="id_form" method="post" action=".">

        {% crispy form %}

        <button type="submit" class="btn btn-primary"><i class="material-icons">check</i> Submit</button>
        <a href="/" class="btn">Cancel</a>

    </form>
</div>
{% endblock %}